
    /* PRINCIPAL: HOME */
    body {
        background-color: #dfdada !important;
        /* Montserrat es la fuente prolija para todo el sitio */
        font-family: 'Montserrat', sans-serif !important;
        color: white !important;
    }

    .navbar {
        background-color: #300403 !important;
    }

    /*SECCION ESPECIFICA NAVBAR: CATALOGO*/
    .navbar-nav .nav-link {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 0.9rem !important;
    letter-spacing: 1px;
    text-transform: none; 
    }

    /*TITULO DE LA SECCION (Nuestra Colección) */
    .cat-seccion h2 {
        font-family: 'Cormorant Garamond', serif !important;
        font-size: 3.5rem !important;
        color: #300403 !important;
        letter-spacing: 5px;
        text-transform: uppercase; 
    }

    /*FOTO DE LAS CATEGORIAS*/
    .cat-item {
        position: relative;
        overflow: hidden;
        height: 550px; 
        background-color: #000;
    }

    .cat-full-img {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover !important;
        transition: transform 0.8s ease; /* Zoom suave */
    }

    .cat-item:hover .cat-full-img {
        transform: scale(1.1);
    }

    /* LAS LETRAS SOBRE LAS FOTOS (anillos, aretes, etc.)  */
    .cat-overlay h4 {
        font-family: 'Cormorant Garamond', serif !important;
        font-size: 2.2rem !important; /* tamaño de la letra */
        color: #ffffff !important;   /* color de la letra */
        font-weight: 500 !important;  /* grosor: 300 finito, 700 negrita */
        letter-spacing: 3px;          /* Espacio entre letras */
        text-transform: capitalize !important; 
        
        margin-bottom: 40px !important; /*que tan despegado esta del borde inferior */
        text-shadow: 2px 2px 10px rgba(0,0,0,0.8); /* sombra para que se lea bien */
    }

    .cat-overlay {
        background: linear-gradient(to top, rgba(96, 96, 96, 0.8) 0%, rgba(0,0,0,0) 50%) !important;
        height: 100%;
        width: 100%;
        z-index: 2;
    }

    

    /*SECCION TENDENCIA*/
    .carousel-item img {
        height: 600px;
        object-fit: cover;
        filter: brightness(60%);
    }

    .carousel-caption h2 {
        font-family: 'Cormorant Garamond', serif !important;
        font-size: 4.5rem !important;
        letter-spacing: 10px;
    }

    .custom-caption{
        text-align: left !important;
        bottom: 20% !important;
        left: 10% !important;
        text-shadow: 2px 2px 10px rgba(34, 31, 31, 0.5);
    }

    .lead-tendencia{
        font-family: 'Montserrat' sans-serif !important;
        font-style: italic;
        font-size: 1.2rem;
        color: #ffffff;
    }



/*SECCION DEL FOOTER*/

/*.footer {
    width: 80%;
    height: fit-content;
    background-color: #DFDADA;
    max-width: 80vw;
}

.ico-rrss {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.footer-card {
    width: 100%;
}


.footer-mapa {
    margin-top: 1em;
    width: 100%;
    height: 100%;
    margin: auto;
}

.bg-joyeria-footer {
    background-color: #CDC9C9;
    color: #300403;
    font-family: 'Cormorant Garamond'
}*/

/*NOSOTROS*/
    .bg-alba-crema{
        background-color: #f2f0eb;
    }

    /*espaciado de letras para subtitulo*/
    .letter-spacing-2{
        letter-spacing: 2px;
    }

    .nombre-joya{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
    color: #300403 !important;
    letter-spacing: 2px;
    }

    .container-fluid.bg-alba-crema.nombre-joya{
        color:#300403 !important
    }

    /*estilo para los parrafos largos*/
    .parrafo-nosotros{
        font-family:'Montserrat', sans-serif !important;
        color: #4a4a4a;
        font-size: 0.95rem;
        line-height: 1.8;
        text-align: justify;
        margin-bottom: 0;
    }

    /*imagenes de la seccion*/
    .img-sobre-nosotros{
        max-width: 85%;
        display: block;
        margin: 0 auto;
        border: 1px solid rgba(48, 4, 3, 0.1);

        transition: 0.3s;
    }
    .img-sobre-nosotros:hover{
        transform: scale(1.02);
        box-shadow: 0 10px 30px rgba(48, 4, 3, 0.05), !important;
    }

    /*seccion de la cita destacada*/
    .quote-alba{
        font-family: 'Cormorant Garamond', serif !important;
        font-size: 2rem !important;
        font-style: italic;
        color: #300403;
        line-height: 1.5;
        font-weight: 500 !important;
        display: block !important;
        visibility: visible !important;
    }



/*CATALOGO*/

body{
    background-color: #f2f0eb;
}

    /*Titulo principal*/
.display-about-title{
    font-family: 'Cormorant Garamond', serif !important;
    font-size: 3.5rem;
    color: #300403;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 5px;
    
    
}

    /*subtitulo (Coleccion)*/
.text-alba-bordo{
    font-family: 'Montserrat', sans-serif !important;
    color: #300403;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 4px;
    font-weight: 600;
    opacity: 0.9;
}

    /*Contenedor de cada producto*/
.producto-card{
    background-color: transparent;
    padding: 30px 20px;
    border-radius: 0;
    border: 1px solid rgba(48, 4, 3, 0.1);
    transition: all 0.5s ease-in-out;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

    /*Efecto al pasar el mouse por el producto*/
.producto-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(48, 4, 3, 0.08);
    border-color: rgba(48, 4, 3, 0.02);
}

    /*Imagen de la joya*/
.producto-card img{
    max-height: 220px;
    object-fit: contain;
    width: 100%;
    margin-bottom: 25px;
}

    /*Nombre de la joya*/
.producto-card .nombre-joya {
    font-family: 'Montserrat', serif !important;
    font-size: 0.95rem;
    color: #300403 !important;
    font-weight: 500;
    margin: 15px 0; 
    line-height: 1.4;
}

    /*Precio*/
.precio-joya{
    font-family: 'Montserrat', serif !important;
    font-size: 1rem;
    color: #010001;
    font-weight: 100;
    margin-bottom: 15px;
}

    /*Boton "Ver Detalles: TODAVIA A DECIDIR*/

    /*El contenedor de la paginacion*/
.paginacion {
    margin-top: 50px;
}

/*Los lins de los numeros*/
.pagination .page-link{
    color: #300403;
    background-color: transparent;
    border: none;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
    margin: 0 5px;
    padding: 8px 10px;
    transition: 0.3s;
}

    /*El numero que esta selccionado (pag.1)*/
.paginacion .page-item.active .page-link{
    background-color: #300403 !important;
    color:#ffffff;
    border-radius: 50px;
}

    /*Cuando se pasa el mouse por los numeros que no estan seleccionado*/
.pagination .page-link:hover{
    background-color: rgba(48, 4, 3, 0.1);
    border-radius: 50px;
    color: #300403;
}

    /*el boton "Anterior" cuando esta desactivado*/
.page-tem.disabled .page-link{
    color: #ccc;
    background-color: transparent;
}





















































































































































































/*Sección Comercialización*/

.h4-comercializacion {
    font-family: 'Cormorant Garamond';
    font-weight: 700;
    color: #300403;
}

.h6-comercializacion {
    font-family: 'Cormorant Garamond';
    color: #300403;
}

.comercializacion-card {
    background-color: #BCAFAF;
    box-shadow: 0px 0px 15px #0002;
}

.comercializacion-card:hover {
    background-color: #DFDADA;
    box-shadow: 0px 0px 15px #0009;
    outline: none;
    transition: 1s;
}

.p-comercializacion {
    font-family: 'Montserrat', sans-serif !important;
}



/*Seccion consultas*/

.card-consultas {
    background-color: #BCAFAF;
    box-shadow: 0px 0px 15px #0002;
    border: none;
}

.accordion-item {
    background-color: #BCAFAF;
    box-shadow: 0px 0px 8px #0002;
}

.bg-boton-consulta {
    background-color: #BCAFAF;
    box-shadow: 0px 0px 8px #0002;
    outline: none;
}

.bg-boton-consulta:focus {
    background-color: #DFDADA;
    box-shadow: 0px 0px 8px #0002;
    outline: none;
}


.bg-boton-consulta:hover {
    background-color: #DFDADA;
    box-shadow: 0px 0px 8px #0009;
    outline: none;
    transition: 1s;
}

.accordion-header {
    font-family: 'Cormorant Garamond';
    font-weight: 700;
}

.li-font {
    font-family: 'Montserrat';
}

/*Fin sección consultas*/


/*Fin sección comercialización*/




/*Seccion Contacto*/
.bg-joyeria-form {
    background-color: #30040333;
    font-weight: 700;
    color: #300403;
    font-family: 'Cormorant Garamond';
    box-shadow: 0px 0px 15px #0002;
    border: none !important;
}

.bg-joyeria-form:hover {
    background-color: #DFDADA;
    box-shadow: 0px 0px 15px #0009;
    border: none !important;
}

.bg-joyeria-input {
    border: 1px solid #300403;
    background: #DFDADA;
    outline: none;
}

.bg-joyeria-input:focus {
    border: 1px solid #300403;
    background: #DFDADA;
    outline: none;
}

.bg-joyeria-textarea {
    border: 1px solid #300403;
    background: #DFDADA;
    outline: none;
    line-height: 6;
    max-height: 9em;
}

.bg-joyeria-textarea:focus {
    border: 1px solid #300403;
    background: #DFDADA;
    outline: none;
}


.form-control { 
    background: #DFDADA;
    box-shadow: 0 0 15px #0002;
}

.contacto-card {
    background-color: #30040333;
    color: #231f20;
    box-shadow: 0px 0px 15px #0002;
    border: none !important;
}

.contacto-card:hover {
    background-color: #DFDADA;
    box-shadow: 0px 0px 15px #0009;
    outline: none;
    transition: 1s;
}


.h5-contacto {
    font-size: 2em;
    font-family: 'Cormorant Garamond' !important;
    color: #231f20;
    font-weight: 700;
    color: #300403;
}

.btn-joyeria-enviar {
    background: #DFDADA;
}

/*FIN Sección Contacto*/



/*Seccion footer*/

.footer {
    width: 80%;
    height: fit-content;
    background-color: #636060;
    max-width: 80vw;
}

.ico-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.footer-card {
    width: 100%;
}

.h2-footer {
    font-weight: 700;
    letter-spacing: 2em;
}


.footer-mapa {
    margin-top: 1em;
    width: 100%;
    height: 100%;
    margin: auto;
}

.bg-joyeria-footer {
    background-color: #30040333;
    color: #300403;
    font-family: 'Cormorant Garamond';
    font-weight: 700    ;
}

.enlace {
    color: #300403;
    font-family: 'Cormorant Garamond';
    font-size: 1.5em;
    font-weight: 700;
}

.formas-pago {
    font-size: 1.5em;
    font-weight: 700;
}

/*FIN SECION FOOTER*/