/* PRINCIPAL: HOME */
body {
    background-color: #dfdada !important;
    /* Montserrat es la fuente prolija para todo el sitio */
    font-family: "Montserrat", sans-serif !important;
    color: white !important;
}

.navbar {
    background-color: #300403 !important;
    transition: 1.5s;
}


.navbar:hover {
    background-color: #dfdada !important;
    transition: 1.5s;
}

.navbar:hover a {
    color: #300403 !important;
    transition: 1.5s;
    font-weight: 700;
}

a {
    transition: 1.5s;
    font-weight: 700 !important;
    color: #DFDADA !important;
}

/*SECCION ESPECIFICA NAVBAR: CATALOGO*/
.navbar-nav .nav-link {
    font-family: "Montserrat", sans-serif !important;
    font-size: 0.9rem !important;
    letter-spacing: 1px;
    text-transform: none;
}

.navbar:hover {
    background-color: #dfdada !important;
    transition: 1.5s;
}

/*TITULO DE LA SECCION (Nuestra Colección) */
.cat-seccion h2 {
    font-family: "Cormorant Garamond", serif !important;
    font-size: 3.5rem !important;
    color: #300403 !important;
    letter-spacing: 5px;
    text-transform: uppercase;
}

/*FOTO DE LAS CATEGORIAS*/
.cat-item {
    position: relative;
    overflow: hidden;
    height: 550px;
    background-color: #000;
}

.cat-full-img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    transition: transform 0.8s ease; /* Zoom suave */
}

.cat-item:hover .cat-full-img {
    transform: scale(1.1);
}

/* LAS LETRAS SOBRE LAS FOTOS (anillos, aretes, etc.)  */
.cat-overlay h4 {
    font-family: "Cormorant Garamond", serif !important;
    font-size: 2.2rem !important; /* tamaño de la letra */
    color: #ffffff !important; /* color de la letra */
    font-weight: 500 !important; /* grosor: 300 finito, 700 negrita */
    letter-spacing: 3px; /* Espacio entre letras */
    text-transform: capitalize !important;

    margin-bottom: 40px !important; /*que tan despegado esta del borde inferior */
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8); /* sombra para que se lea bien */
}

.cat-overlay {
    background: linear-gradient(
        to top,
        rgba(96, 96, 96, 0.8) 0%,
        rgba(0, 0, 0, 0) 50%
    ) !important;
    height: 100%;
    width: 100%;
    z-index: 2;
}

/*SECCION TENDENCIA*/
.carousel-item img {
    height: 600px;
    object-fit: cover;
    filter: brightness(60%);
}

.carousel-caption h2 {
    font-family: "Cormorant Garamond", serif !important;
    font-size: 4.5rem !important;
    letter-spacing: 10px;
}

.custom-caption {
    text-align: left !important;
    bottom: 20% !important;
    left: 10% !important;
    text-shadow: 2px 2px 10px rgba(34, 31, 31, 0.5);
}

.lead-tendencia {
    font-family: "Montserrat" sans-serif !important;
    font-style: italic;
    font-size: 1.2rem;
    color: #ffffff;
}

/*NOSOTROS*/
.bg-alba-crema {
    background-color: #dfdada;
}

/*espaciado de letras para subtitulo*/
.letter-spacing-2 {
    letter-spacing: 2px;
}

.nombre-joya {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 600 !important;
    color: #300403 !important;
    letter-spacing: 2px;
}

.container-fluid.bg-alba-crema.nombre-joya {
    color: #300403 !important;
}

.text-alba{
    font-size: 1.2rem;
    color: #300403;
}


/*estilo para los parrafos largos*/
.parrafo-nosotros {
    font-family: "Montserrat", sans-serif !important;
    color: #4a4a4a;
    font-size: 1.1rem;
    line-height: 1.8;
    text-align: justify;
    margin-bottom: 0;
    font-weight: 500 !important;
}

/*imagenes de la seccion*/
.img-sobre-nosotros {
    max-width: 85%;
    display: block;
    margin: 0 auto;
    border: 1px solid rgba(48, 4, 3, 0.1);
    transition: 1.5s;
    border: none;
}
.img-sobre-nosotros:hover {
    transform: scale(1.02);
    box-shadow: 0 0 30px #0005 !important;
    transition: 1.5s;
    border: none;
}

/*seccion de la cita destacada*/
.quote-alba {
    font-family: "Monsterrat", serif !important;
    font-size: 2rem !important;
    font-style: italic;
    color: #300403;
    line-height: 1.5;
    font-weight: 500 !important;
    display: block !important;
    visibility: visible !important;
}

.bg-frase-nosotros {
    background-color: #a49292 !important;
}

/*CATALOGO*/

body {
    background-color: #f2f0eb;
}

/*Titulo principal*/
.display-about-title {
    font-family: "Cormorant Garamond", serif !important;
    font-size: 3.5rem;
    color: #300403;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

/*subtitulo (Coleccion)*/
.text-alba-bordo {
    font-family: "Montserrat", sans-serif !important;
    color: #300403;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 4px;
    font-weight: 600;
    opacity: 0.9;
}

/*Contenedor de cada producto*/
.producto-card {
    background-color: #300403;
    padding: 30px 20px;
    border-radius: 0;
    border: 1px solid rgba(48, 4, 3, 0.1);
    transition: all 0.5s ease-in-out;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/*Efecto al pasar el mouse por el producto*/
.producto-card:hover {
    background-color: transparent !important;
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(48, 4, 3, 0.08);
    border-color: rgba(48, 4, 3, 0.02);
    box-shadow: 0px 0px 15px #0009;
    outline: none;
    transition: 1.5s;
}

/*nombre joya hover*/
.producto-card:hover .nombre-joya {
    color: #300403 !important;
    transition: 1.5s;
}

/*Imagen de la joya*/
.producto-card img {
    max-height: 300px;
    object-fit: contain;
    width: 100%;
    margin-bottom: 25px;
}

/*Nombre de la joya*/
.producto-card .nombre-joya {
    font-family: "Montserrat", serif !important;
    font-size: 0.95rem;
    color: #dfdada !important;
    transition: 1.5s;
    font-weight: 500;
    margin: 15px 0;
    line-height: 1.4;
}

/*Precio*/
.precio-joya {
    font-family: "Montserrat", serif !important;
    font-size: 1rem;
    color: #dfdada !important;
    font-weight: 100;
    margin-bottom: 15px;
    transition: 1.5s;
}

/*Precio hover*/
.producto-card:hover .precio-joya {
    color: #300403 !important;
    transition: 1.5s;
}


/*El contenedor de la paginacion*/
.paginacion {
    margin-top: 50px;
}

/*Los lins de los numeros*/
.pagination .page-link {
    color: #300403;
    background-color: transparent;
    border: none;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 400;
    margin: 0 5px;
    padding: 8px 10px;
    transition: 0.3s;
}

/*El numero que esta selccionado (pag.1)*/
.paginacion .page-item.active .page-link {
    background-color: #300403 !important;
    color: #ffffff;
    border-radius: 50px;
}

/*Cuando se pasa el mouse por los numeros que no estan seleccionado*/
.pagination .page-link:hover {
    background-color: rgba(48, 4, 3, 0.1);
    border-radius: 50px;
    color: #300403;
}

/*el boton "Anterior" cuando esta desactivado*/
.page-tem.disabled .page-link {
    color: #ccc;
    background-color: transparent;
}

/*SECCIÓN COMERCIALIZACIÓN*/

.h4-comercializacion {
    font-family: "Cormorant Garamond";
    text-transform: uppercase !important;
    font-weight: 700;
    color: #300403; 
    font-size: 1.9rem;
}

.h6-comercializacion {
    font-family: "Cormorant Garamond";
    color: #300403;
    font-size: 1.1rem;
}

.comercializacion-card {
    background-color: #bcafaf;
    box-shadow: 0px 0px 15px #0002;
    transition: 1.5s;
}

.comercializacion-card:hover {
    background-color: #dfdada;
    box-shadow: 0px 0px 15px #0009;
    outline: none;
    transition: 1.5s;
}

.p-comercializacion {
    font-family: "Montserrat", sans-serif !important;
    font-size: 1.1rem;
}

/*SECCIÒN TERMINOS DE USO*/
.titulo-terminos{
    font-size: 1.7rem !important;
    font-weight: 500;
}

/*SECCIÓN DE CONSULTAS*/

.card-consultas {
    background-color: #bcafaf;
    box-shadow: 0px 0px 15px #0002;
    border: none;
}

.accordion-item {
    background-color: #bcafaf;
    box-shadow: 0px 0px 8px #0002;
}

.bg-boton-consulta {
    background-color: #bcafaf;
    box-shadow: 0px 0px 8px #0002;
    outline: none;
    transition: 1.5s;
}

.bg-boton-consulta:focus {
    background-color: #dfdada;
    box-shadow: 0px 0px 8px #0002;
    outline: none;
}

.bg-boton-consulta:hover {
    background-color: #dfdada;
    box-shadow: 0px 0px 8px #0009;
    outline: none;
    transition: 1.5s;
}

.accordion-header {
    font-family: "Cormorant Garamond";
    font-weight: 700;
}

.li-font {
    font-family: "Montserrat";
}

/*Fin sección consultas*/

/*Fin sección comercialización*/

/*Seccion Contacto*/
.bg-joyeria-form {
    background-color: #30040333;
    font-weight: 700;
    color: #300403;
    font-family: "Cormorant Garamond";
    box-shadow: 0px 0px 15px #0002;
    border: none !important;
    transition: 1.5s;
}

.bg-joyeria-form:hover {
    background-color: #dfdada;
    box-shadow: 0px 0px 15px #0009;
    border: none !important;
    transition: 1.5s;
}

.bg-joyeria-input {
    border: 1px solid #300403;
    background: #dfdada;
    outline: none;
}

.bg-joyeria-input:focus {
    border: 1px solid #300403;
    background: #dfdada;
    outline: none;
    font-weight: 700;
    font-size: 1.25em;
}

.bg-joyeria-textarea {
    border: 1px solid #300403;
    background: #dfdada;
    outline: none;
    height: 300px;
}

.bg-joyeria-textarea:focus {
    border: 1px solid #300403;
    background: #dfdada;
    outline: none;
    font-weight: 700;
    font-size: 1.25em;
}

.form-control {
    background: #dfdada;
    box-shadow: 0 0 15px #0002;
}

.contacto-card {
    background-color: #30040333;
    color: #231f20;
    box-shadow: 0px 0px 15px #0002;
    border: none !important;
    transition: 1.5s;
}

.contacto-card:hover {
    background-color: #dfdada;
    box-shadow: 0px 0px 15px #0009;
    outline: none;
    transition: 1.5s;
}

.h5-contacto {
    font-size: 2em;
    font-family: "Cormorant Garamond" !important;
    color: #231f20;
    font-weight: 700;
    color: #300403;
}

.btn-joyeria-enviar {
    background: #dfdada;
    box-shadow: 0px 0px 15px #0009;
    font-weight: 700;
    transition: 1s;
}

.btn-joyeria-enviar:hover {
    background: #300403;
    font-family: "Cormorant Garamond" !important;
    font-weight: 700;
    box-shadow: 0px 0px 15px #0009;
    color: #dfdada;
    transition: 1s;
}

/*FIN Sección Contacto*/

/*SECCION ÉXITO*/

.bg-exito-card {
    background-color: #bcafaf;
}

.h1-exito {
    font-family: "Cormorant Garamond" !important;
    color: #300403;
}

.p-exito {
    font-family: "Cormorant Garamond" !important;
    color: #300403;
    font-size: 1.5em;
}

.btn-exito {
    background: #dfdada;
    font-family: "Cormorant Garamond" !important;
    font-weight: 700;
    box-shadow: 0px 0px 15px #0009;
    color: #300403;
    transition: 1s;
}

.btn-exito:hover {
    background: #300403;
    font-family: "Cormorant Garamond" !important;
    font-weight: 700;
    box-shadow: 0px 0px 15px #0009;
    transition: 1s;
}

/*FIN SECCION ÉXITO*/

/*Seccion footer*/

.footer {
    width: 80%;
    height: fit-content;
    background-color: #636060;
    max-width: 80vw;
}

.ico-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.footer-card {
    width: 100%;
}

.h2-footer {
    font-weight: 700;
    letter-spacing: 1em;
    text-decoration: none !important;
}

.footer-mapa {
    margin-top: 1em;
    width: 100%;
    height: 100%;
    margin: auto;
}

.bg-joyeria-footer {
    background-color: #30040333;
    color: #300403;
    font-family: "Cormorant Garamond";
    font-weight: 700;
}

.enlace {
    color: #300403 !important;
    font-family: "Cormorant Garamond";
    font-size: 1.5em;
    font-weight: 700;
}

.formas-pago {
    font-size: 1.5em;
    font-weight: 700;
}

/*FIN SECION FOOTER*/
