* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: #AB724B99;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}


.footer {
    width: 80%;
    height: fit-content;
    background-color: pink;
    max-width: 80vw;
}

.ico-rrss {
    width: 100%;
    display: flex;
    flex-direction: row;
    

}

.img-fit {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Clave: llena el espacio sin deformarse */
    object-position: center;
}

/* Color amarillo exacto si border-warning no te gusta */
.border-warning {
    border-color: #efb68fff !important;
}

.footer-card {
    width: 100%;
}

.footer-mapa {
    margin-top: 1em;
    width: 100%;
    height: 100%;
    margin: auto;
}


.bg-joyeria {
    background-color: #760000;
    color: #efb68fff;;
    font-family: 'Cormorant Garamond'
}

.bg-joyeria-footer {
    background-color: #760000aa;
    color: #efb68fff;
    font-family: 'Cormorant Garamond'
}


.titulo-footer {
    font-family: Verdana, Tahoma, sans-serif;
    font-family: 'Cormorant Garamond'
}

.enlace {
    background-color: transparent;
    color: #efb68fff    ;
    font-family: 'Cormorant Garamond'
}

.formas-pago {
    background-color: transparent;
    color: #efb68fff    ;
    font-family: 'Cormorant Garamond'
}

/*NOSOTROS*/
/* Layout General de Nosotros */
.nosotros-layout {
    background-color: #f2f0eb; /* El cremita de la foto */
    padding: 120px 10%;
    overflow: hidden;
}

/* Grilla Superior: Título a la izq, Párrafo a la der */
.intro-grid {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* Alinea el texto con la base del título */
    margin-bottom: 80px;
}

.display-about {
    font-family: 'Cormorant Garamond', serif !important;
    font-size: clamp(4rem, 15vw, 9rem); /* Se adapta al tamaño de pantalla */
    line-height: 0.8;
    color: #d6d1ca; /* Color clarito elegante */
    font-weight: 700;
    margin: 0;
}

.col-intro-text p {
    max-width: 400px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    color: #555;
    text-align: left;
}

/* Grilla Inferior: Texto a la izq, Imagen a la der */
.content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide la pantalla en dos */
    gap: 80px;
    align-items: start;
}

.col-details-text p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.05rem;
    line-height: 1.8;
    color: #444;
    margin-bottom: 25px;
}

.btn-more-alba {
    display: inline-block;
    background-color: #1a1a1a;
    color: white;
    padding: 12px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* Imagen Compuesta */
.imagen-nosotros-compuesta {
    width: 100%;
    height: auto;
    display: block;
}

